body {
    padding-left: 3em;
}

div {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.control-clue {
    display: inline-table;
    vertical-align: middle;
    padding-top: 0;
    border-spacing: 5px;
    padding-left: 2em;
}
.control-clue div {
    display: table-row-group;
}
.control-clue span {
    opacity: 0.5;
    display: table-cell;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
}
.control-clue span:hover {
    opacity: 1;
    cursor: default;
}

.given-clue {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    font-family: monospace;
    font-size: x-small;
    text-align: center;
    margin-left: -2px;
    margin-right: 3px;
}

.hand {
    display: inline;
}

.card {
    position: relative;
    box-sizing: content-box;
    font-family: monospace;
    border: thin solid;
    font-size: xx-large;
    padding: 0.3em;
    margin-left: 5px;
    margin-right: 5px;
}

.card-back {
    background-image: url("../img/fireworks-160971.svg");
    background-size: cover;
    z-index: -1;
    background-color: #280a6a;
}

.card-Red {
    /*background-color: #b92c28;
    #color: #f5f5f5;*/
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.card-Blue {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.card-Green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.card-White {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.card-Yellow {
    color: #333;
    background-color: #ffff33;
    border-color: lime;
}

.clue {
    color: #428bca;
}
.used-clue {
    opacity: 0.3;
}

.used-life {
    color: #d43f3a;
}
.life {
    opacity: 0.3;
}

.action {
    color: white;
    opacity: 0.2;
}
.action:before {
    position: absolute;
    padding: 0.6em;
    left: 0.04em;
}

.action:hover {
    opacity: 0.8;
}

.trash:before {
    bottom: -1.3em;
}
.play:before {
    bottom:  0.5em;
}

#my-hand {
    padding-top: 1em;
}
#discard {
    padding-top: 3em;
}
